@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand&family=Geomini:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

:root {
  --primary-color: #80b7f9;   /* pastel blue */
  --accent-color: #F9A3B7;    /* pastel pink */
  --text-color: #444444;      /* soft dark gray */
  --link-color: #7FB77E;      /* pastel green */
  --background-color: #FFF8E7;/* warm cream */
  --light-gray: #EDEDED;      /* light neutral */
  --gray: #B0B0B0;            /* medium gray */
  --dark-gray: #666666;       /* muted dark gray */
}

*{
    margin: 0;
    padding: 0;
    font-family:"Playwrite NZ Basic", cursive;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding:0.1rem;
}

.header-content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon{
    height: 1.8rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 1.5rem;
}

.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width: 768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #666666;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s ease;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-btn{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all 0.1s ease;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .contact-btn{
        display: block;
    }
}

.contact-btn:hover{
    background-color: #5aa3fb;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
}

@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }    
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}